body {
    background-color: antiquewhite;
    width: 1920px;
    height: 1080px;
}
.image-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* or a specific height */
}

img {
    max-width: 100%; /* ensures the image scales down if needed */
    height: auto;
    animation: breathe 3s infinite; /* Apply the animation */
}

@keyframes breathe {
    0% {
        transform: scale(0.8); 
    }
    50% {
        transform: scale(1); 
    }
    100% {
        transform: scale(0.8); 
    }
}